@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div>
     @Html.ActionLink("Log Out", "LogOff","User")   
    </div>
</body>
</html>
