@model DataLayer.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationComplete</title>
</head>
<body>
    <div>
        <h2>RegistrationComplete</h2>
         @Html.ActionLink("Back to Registration", "Registration")
         @Html.ActionLink("Login", "Login")
    </div>
</body>
</html>
