@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryCreateComplete</title>
</head>
<body>
    <div>
                    <h2>Product Create Completed</h2>
         @Html.ActionLink("Back to Category", "List")
         @Html.ActionLink("Create Another One", "Create")
       @Html.ActionLink("Log Out", "LogOff","Admin")
    </div>
</body>
</html>
