@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductCreateComplete</title>
</head>
<body>
    <div>
                <h2>Product Create complete</h2>
         @Html.ActionLink("Back to Product", "List")
         @Html.ActionLink("Create Another", "Create")
        @Html.ActionLink("Log Out", "LogOff","Admin")
    </div>
</body>
</html>
